@{
    ViewData["Title"] = "Home Page";
}

@model WEBUI.Models.WorkPerModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Süre Hesaplayıcı</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .navbar {
            margin-bottom: 0;
            border-radius: 0;
        }

        /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
        .row.content {
            height: 450px
        }

        /* Set gray background color and 100% height */
        .sidenav {
            padding-top: 20px;
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @@media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Logo</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid text-center">
        <div class="row content">
            <div class="col-sm-8 text-left">
                <h1>Süre ücret hesaplayıcı Uygulaması</h1><hr>
                <form action="/Home/Calculate" method="post">
                    <div class="form-group">
                        <label asp-for="Per8HourPayment">8 Saatlik Süre ücreti</label>
                        <input type="text" class="form-control" asp-for="Per8HourPayment">
                        <span>Örnek: 900</span>
                        <br />
                    </div>      
                    <div class="form-group">
                        <label asp-for="WorkTimeMinute">Toplam çalışma süresi</label>
                        <input type="text" class="form-control" asp-for="WorkTimeMinute">
                        <span>Lütfen miktar dakika cinsinden aralarında boşluk olacak şekilde doldurunuz Örnek: 200 658 600 30 40</span>
                        <br />
                    </div>
                    <br />
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <h3>@Model.ResultFull</h3>
            </div>
        </div>
    </div>
    <br />
    <br />
    <footer class="container-fluid text-center">
        <p>Süre hesaplayıcı</p>
    </footer>

</body>
</html>
